nav {
    position: fixed;

    background-color: rgb(26, 39, 112);
    height: 5vh;
    color: white;
}

.navbar {
    height: 3.5rem;
}

h1 {
    text-align: center;
}

/* title */
#originalGreen {
    color: #21A1A1;
}

#newGreen {
    color: #20c997;
}
#newGreen1 {
    color: #1aa179;
}

.navbar.navbar-nav.nav-item.nav-link {
    color: #21A1A1;
}