nav {
    position: fixed;

    color: #20c997;
    /* height: 5vh; */
    color: white;

    border-bottom: solid rgb(181, 179, 179) 3px;
}

.nav-brand {
    font-weight: 800;
}

h1 {
    text-align: center;
}

/* title */
#originalGreen {
    color: #21A1A1;
}

#newGreen {
    color: #20c997;
}
#newGreen1 {
    color: #1aa179;
}

.navbar.navbar-nav.nav-item.nav-link {
    color: #21A1A1;
}