nav {
    position: fixed;

    background-color: rgb(26, 39, 112);
    height: 5vh;
    color: white;
}

h1 {
    text-align: center;
}

/* title */
#title {
    color: #21A1A1;
}

.navbar.navbar-nav.nav-item.nav-link {
    color: #21A1A1;
}